
.mobile-menu {
  position: fixed;
  inset: 0;             
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #2e2c2c, #091e64);  
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.close-btn {

  margin-top: 50px;
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.menu-links {
  list-style: none;
  padding: 0;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-links a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}
