/* Navbar Container */
.navbar {
  background :  linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0)    
  );
/*   
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); optional subtle shadow */
  transition: background 0.3s ease;   
  /* border-bottom: 1px solid #d1d5db; */
  padding: 16px 24px;
  height: 80px;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  z-index: 1000;
  border: none;
}


.navbar-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  height: 50px;
}

/* Center Menu */
.desktop-menu  {
  display: none;
  color: whitesmoke;
  justify-self: center; 
  gap: 32px;
    transition: all 0.2s ease-in-out; 
}




/* Center Menu */

@media (min-width: 640px) {
  .desktop-menu {
    display: flex;
  }

}

.desktop-menu a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 16px;
   transition: all 0.2s ease-in-out
}
.desktop-menu a:hover {
  color: rgb(0, 25, 247);
  font-size: 15px;
}

/* Right side */
.navbar-right {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 16px;
}



/* Login Button */
.login-btn {
  cursor: pointer;
  padding: 8px 32px;
  background-color: #6366f1;
  color: white;
  border-radius: 9999px;
  border: none;
}
.login-btn:hover {
  background-color: #4f46e5;
}

/* Mobile Menu Button */
.mobile-menu-btn {
  display: flex;
  background: none;
  border: none;
  position: fixed;
 right: 0%;
  cursor: pointer;
}

@media (min-width: 640px) {
  .mobile-menu-btn {
    display: none;
  }
}

@media (max-width: 640px) {
  .car_icon {
   display: none;
  }

}

/* Mobile Menu */
.mobile-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
   
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 16px 20px;
  font-size: 14px;
  text-align: center;

}
.mobile-menu a {
  color: #111827;
  text-decoration: none;
  transition: all 0.2s ease-in-out; /* add this */
}
.mobile-menu a:hover {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.521);
}

.user-icon{
  cursor: pointer;
}



@media (max-width: 640px) {
.user-icon{
  margin-left: 190px;
}

  .login-btn {
    margin-left: 80px;
      padding: 5px 25px;
      font-size: 12px;

  }

}